/* styles for http://strimmerlab.org (old version up to 2015) */
 body {
  background-color: #eeeeee;
  font-family:  font-family: Georgia, serif; 
  font-size: 15px;
  line-height: 1.5;
 }
 :link { color: #003399 }
 :visited { color: #6699CC }

A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline;}

img {border-width:0px;}

p.c1 {font-weight: bold; color: #666666; font-family:  Verdana, Arial, Helvetica, sans-serif;}

p.c2 {width: 100%; color: #fba200; font-size: 170%; font-weight: bold; margin-top: 0px; margin-bottom: 0px;
      font-family:  Verdana, sans-serif;}

p.c3 {font-size: 80%; 
      font-family:  Verdana, sans-serif;}


p.nav {font-weight: bold; margin-top: 0px; color: #666666; font-size: 110%;margin-bottom: 1.8em;
       font-family:  Verdana, sans-serif;}


table {font-size: 100%}

 
/***************************************************
LAYOUT BOXES
***************************************************/

#page {width:980px;margin:0px auto;text-align:left;
border:dashed 1px #668866;background-color: #FFFFFF;
border-radius:15px;
}

#box4 { padding:12px 5px;clear: left;}
#box5 { padding:5px 10px 5px 5px;clear: left;}




.fleft { /* class for floats embedded in text */
 float: left;
 margin: 0 1em 0.3em 0;
 border-width:0px;} 
.fright {
 float: right;
 margin: 0 0 0.3em 1em;
 border-width:0px;
 padding: 1px;
}


p {width: 71.5%; text-align: justify; margin-left: 1%}

div.note {
 float: right; 
 text-align: left;
 font-size: 80%;
 width: 20%; 
 margin: 0 1% 0 0; 
}

li {width: 71%; text-align: justify;}
span.note {
 float: right;
 text-align: left; 
 font-size: 80%;
  width: 28.57%; /* 20/70 */
 margin-right: -38.5%;
}


